@tailwind base;
@tailwind components;
@tailwind utilities;
body, body * {
	color: #333333;
	font-family: "BPG Nino Mtavruli";
}

.container{
	margin: 0 auto;
	width: 84%;
  }
  @media screen and (max-width: 480px) {
	  .container{
			width: 95%;
	  }
  }
  @media screen and (min-width: 480px) {
	  .container{
			width: 90%;
	  }
  }
  @media screen and (min-width: 700px) {
	  .container {
		  width: 80%;
	  }
  }
  
  @media screen and (min-width: 1100px) {
	  .container{
			width: 88%;
	  }
  }
  @media screen and (min-width: 1440px) {
	  .container{
		width: 1280px;
	  }
  }


  @media only screen and (max-width: 768px) {
	.movies-list {
		grid-template-columns: repeat(1, minmax(0, 1fr))!important ;
	}
  }
  @media screen and (max-width: 576px) {
	.everything-row {
		grid-template-columns: repeat(1, minmax(0, 1fr))!important;
	}
	.checkout {
		padding-left: 0!important;
		padding-right: 0!important;
	}
}

  footer li{
	margin-top: 18px;
  }
  footer li:first-child {
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 26px;
  }
  button {
	background-color: #1A2C50;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	border-radius: 10px;
  }

  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
	width: 40px;
	height: 40px;
	border:solid 4px #333333;
	margin: 30px 0;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}
input:focus {
	outline: none;
}